RewriteEngine On

RewriteRule ^login$ login.php [L]
RewriteRule ^lockscreen$ lockscreen.php [L]
RewriteRule ^logout$ login.php?act=logout [L]
RewriteRule ^BenangKeluarLegacy-$ index.php?p=BenangKeluarLegacy [L]
RewriteRule ^BenangKeluarLegacy-([0-9_-]+)$ index.php?p=BenangKeluarLegacy&doc=$1 [L]
RewriteRule ^CheckStockBS-$ index.php?p=CheckStockBS [L]
RewriteRule ^CheckStockBS-([a-zA-Z0-9_-]+)$ index.php?p=CheckStockBS&id=$1 [L]
RewriteRule ^DelStokKeluar-([0-9_-]+)$ index.php?p=DelStokKeluar&id=$1 [L]
RewriteRule ^DetailOpname-$ index.php?p=DetailOpname[L]
RewriteRule ^DetailOpname-([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpname&tgl=$1&tipe=$2 [L]
RewriteRule ^DetailOpname11-$ index.php?p=DetailOpname11[L]
RewriteRule ^DetailOpname11-([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpname11&tgl=$1&tipe=$2 [L]
RewriteRule ^DetailOpnameDetail11-$ index.php?p=DetailOpnameDetail11[L]
RewriteRule ^DetailOpnameDetail11-([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)$ index.php?p=DetailOpnameDetail11&tgl=$1&tipe=$2 [L]
RewriteRule ^DelOpname-([a-zA-Z0-9_-]+)$ index.php?p=DelOpname&tgl=$1 [L]
RewriteRule ^DetailInHarian-$ index.php?p=DetailInHarian[L]
RewriteRule ^DetailInHarian-([a-zA-Z0-9_-]+)$ index.php?p=DetailInHarian&tgl=$1 [L]
RewriteRule ^DetailOutHarian-$ index.php?p=DetailOutHarian[L]
RewriteRule ^DetailOutHarian-([a-zA-Z0-9_-]+)$ index.php?p=DetailOutHarian&tgl=$1 [L]
RewriteRule ^DetailInHarian11-$ index.php?p=DetailInHarian11[L]
RewriteRule ^DetailInHarian11-([a-zA-Z0-9_-]+)$ index.php?p=DetailInHarian11&tgl=$1 [L]
RewriteRule ^DetailOutHarian11-$ index.php?p=DetailOutHarian11[L]
RewriteRule ^DetailOutHarian11-([a-zA-Z0-9_-]+)$ index.php?p=DetailOutHarian11&tgl=$1 [L]
RewriteRule ^DelInHarian-([a-zA-Z0-9_-]+)$ index.php?p=DelInHarian&tgl=$1 [L]
RewriteRule ^DelOutHarian-([a-zA-Z0-9_-]+)$ index.php?p=DelOutHarian&tgl=$1 [L]
RewriteRule ^UbahStokBenang$ index.php?p=Edit_detailStkBenang [L]
RewriteRule ^HapusLokasiBenang$ index.php?p=DelLokasiBenang [L] 
RewriteRule ^LapRealisasi-$ index.php?p=LapRealisasi_Bon_permohonan_benang [L]
RewriteRule ^LapRealisasi-([a-zA-Z0-9_-]+)$ index.php?p=LapRealisasi_Bon_permohonan_benang&id=$1 [L]
RewriteRule ^DelUpload-([a-zA-Z0-9_-]+)$ index.php?p=DelUpload&id=$1 [L]
RewriteRule ^UploadData-$ index.php?p=UploadData [L]
RewriteRule ^UploadData-([a-zA-Z0-9_-]+)$ index.php?p=UploadData&id=$1 [L]
RewriteRule ^UploadDataBS-$ index.php?p=UploadDataBS [L]
RewriteRule ^UploadDataBS-([a-zA-Z0-9_-]+)$ index.php?p=UploadDataBS&id=$1 [L]
RewriteRule ^DelUploadBS-([a-zA-Z0-9_-]+)$ index.php?p=DelUploadBS&id=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?p=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?p=$1 [L]

Options All -Indexes
